.team-card {
  border: 2px solid red;
  width: 20%;
  display: flex;
  margin-right: 3%;
  margin-top: 1%;
  flex-direction: column;
  height: 32vh;
  background: rgba(white, .2);
  border: 2px solid rgba(white, .7);
  justify-content: center;
  text-align: center;
}

h4 {
  margin: 0px;
}