.nav__div {
  display: flex;
  border: 1px solid pink;
  position: relative;
  z-index: 15;
}

.nav__img--logo {
  max-width: 2.2%;
  margin:.2%;
  border: 2px solid green;
}

a {
  border: 2px dashed red;
}