.nav__div {
  display: flex;
flex-direction: column;
z-index: 15;
width: 41%;
margin-left: 56%;
height: 87vh;
box-shadow: px 0px 0px 2px;
background: rgba(255, 255, 255, 0.4);
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.nav__img--logo {
  max-width: 11.2%;
  margin-top: 7.5%;
  margin-right: 3%;
}

a {
  border: 2px dashed red;
}

nav{
  position:fixed;
}


   