.footer__div--links {
  display: flex;
  justify-content: space-around;
  background: rgba(55,63,81,.4);
  text-decoration: none;
  color: black;
}

.footer__a--link {
  text-decoration: none;
  color: black;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5em;
}

h3:hover {
  transform: scale(1.4)
}

