.player {
  font-family: 'Barlow Condensed', sans-serif;
  display: flex;
  justify-content: space-evenly;
  height: 87vh;
  

}

ul {
  list-style: none;
}

.player__h2--name {
  display: block;
}

.player__img--ice {
  position: absolute;
  z-index: -100;
  height: 100vh;
  width: 100%;
}

.card__player--active {
  font-size: 3em;
}