.section__img--stadium {
  position: absolute;
  z-index: -5;
  width: 51%;
  margin-left: 2%;
  margin-top: 3%;
  opacity: .3;
  border: 18px solid white;
}

.section__img--paint {
  margin-right: 34%;
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100vh;
  margin-top: 0;

}

.section-welcome {
  height: 92vh;
  font-family: 'Barlow Condensed', sans-serif;
}

.welcome__h1--title {
  font-family: "Anton", sans-serif;
  position: absolute;
  font-size: 7em;
  margin-left: 15%;
  text-shadow: 2px 2px #CCDBDC;
  margin-top: 5%;
}

.welcome__div--links {
  display: flex;
    flex-direction: column;
    width: 15%;
    margin-left: auto;
    margin-right: 16%;
    padding-top: 7%;
}

// .welcome__a--link {
//   float: right;
// }




